.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  display: flex;
}

/* common styles */
h1,
h2,
h3,
h4 {
  margin: 0;
}
.kata-section {
  padding: 24px 48px;
}
.kata-align-left {
  text-align: left;
}
.kata-align-center {
  text-align: center;
}
.kata-align-right {
  text-align: right;
}
.kata-text-heading {
  font-size: 32px;
  line-height: 1.5;
}
.kata-text-sub-heading {
  font-size: 18px;
}
.kata-btn {
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  font-family: lato, 'Helvetica Neue', helvetica, roboto, arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  padding: 12px 20px;
  position: relative;
  text-align: center;
}
.kata-btn:hover {
  cursor: pointer;
}
.kata-btn--do {
  background-color: #3f32f5;
  color: #fff;
}
.kata-btn--do:hover {
  background-color: #554af4;
}
.kata-btn--do:focus {
  box-shadow: 0 0 0 2px rgba(255,255,255,.8),0 0 3px 3px rgba(63,50,245,.35),0 0 0 3px rgba(63,50,245,.6);
}
.kata-btn--no {
  background-color: #bb2a1a;
  color: #fff;
}
.kata-btn--go {
  background-color: #fcc015;
  color: #fff;
}
.kata-action-bar {
  display: flex;
}

/* -----sidebar styles ----- */
.kata-sidebar-container {
  background-color: #e7e5df;
  padding: 15px;
  min-height: 100vh;
  min-width: 150px;
}

.kata-sidebar-container nav {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.kata-sidebar-nav-item {
  margin-bottom: 40px;
}

nav .kata-sidebar-nav-item:first-of-type {
  margin-top: 50px;
}

.kata-sidebar-nav-link {
  text-decoration: none;
}

.kata-sidebar-nav-link:hover {
  text-decoration: underline;
}

/* -----detail styles ----- */
#detail {
  width: 100%;
}
.kata-rules-set-container {
  display: flex;
  align-items: flex-end;
}
.kata-rules-set-unit {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  font-weight: 500;
}

.kata-rules-set-unit label {
  margin-bottom: 12px;
}

.kata-rules-set-unit input {
  width: 4em;
}
.kata-rules-set-unit span {
  font-size: small;
}
